.carousel {
    background: #EEE;
}

.carousel-cell {
    color:white;
    height: 100%;
    margin-right: 0px!important;
    min-height: 750px;
    width: 100%;
    width: 100vw;
    overflow-x: hidden;
}
.carousel-wrap {

    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
}

/* position dots in carousel */
.flickity-page-dots {
    bottom: 20px;
}
/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}

